$brand1: #26263A;
$brand2: #153068;
$brand3: #F5EDE0;
$brand4: #D6C7B0;
$brand5: #394982;

$brand-primary:             $brand5;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$jumbotron-bg: $brand2;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
